<form [formGroup]="form">
  <fieldset>
      <legend>Login</legend>
      <div class="form-field">
          <label>UserName:</label>
          <input name="UserName" formControlName="userName">
      </div>
      <div class="form-field">
          <label>Password:</label>
          <input name="password" formControlName="password" 
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button button-primary" 
              (click)="login()">Login</button>
  </div>
</form>