.columncontainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 5.5vh;
}


.form-field{
    margin-left: 0.5rem;
}

.form-buttons{
    height: 5vh !important;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 0.5rem;
    display: flex;
    right: 1rem !important;
}

.schwarze-farbe{
    color: black !important;
}

