<mat-card class="card" (click)="navigateToArtistPage()">
  <mat-card-content class="rowFlex" *ngIf="globalsService.isTopNav">
    <img mat-card-image class="card-image" *ngIf="artist.img !== ''" [src]="createImgPath(artist.img)" alt="Photo of {{artist.name}}">
      <div class="colums">
          <div class="card-headline">{{artist.name}}</div>
          <div class="card-subheadline">{{artist.genre}}</div>
          <div class="card-text">{{getDescriptionText(artist)}}</div>
      </div>
  </mat-card-content>

  <img mat-card-image class="card-image-mobile" *ngIf="isImageVisible(artist)" [src]="createImgPath(artist.img)" alt="Photo of {{artist.name}}">
  <mat-card-content class="rowFlex" *ngIf="!globalsService.isTopNav">
      <div class="colums">
          <div class="card-headline">{{artist.name}}</div>
      </div>
  </mat-card-content>
</mat-card>