.band-text {
    text-align: center;
    font-size: x-large;
    font-family: 'Century Gothic' !important;
}

.card-headline {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 1em;
    text-align: center;
}

@media screen and (min-width: 960px){
    mat-card {
        /* border: 2px solid #ff66c4; */
        margin: 25px 0 25px 0 !important;
        /* padding: 0; */
        box-shadow: none !important;
        /* padding: 50px 50px 25px 50px; */
        font-family: 'HappyMonkey', fallback, sans-serif !important;
        font-size: 25pt !important;
        color: black !important;
        text-transform: uppercase;
    }

    .band-image {
        margin-top: 25px !important;
        width: 70%;
    }

    .band-info {
        display: flex;
        justify-content: space-between;
        font-size: .7rem;
        width: 100%;
    }

    .rowFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .genre-text {
        visibility: hidden;
    }
}

/* make a media query between 960px und 850px */
@media only screen and (max-width: 960px) {
    mat-card {
        border: 2px solid #ff66c4;
        margin: 40px!important;
        /* padding: 0; */
        box-shadow: none !important;
        /* padding: 50px 50px 25px 50px; */
        font-family: 'HappyMonkey', fallback, sans-serif !important;
        font-size: 25pt !important;
        color: black !important;
        text-transform: uppercase;
    }

        .band-image {
        margin-top: 25px !important;
        width: 70%;
    }

    .band-info {
        display: flex;
        justify-content: space-between;
        font-size: .7rem;
        width: 100%;
    }

    .rowFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}