<!-- <div class="card pointer" (click)="navigateToArtistPage()"  *ngIf="globalsService.isTopNav">
  <div class="rowFlex" >

    <div class="matcard">
      <img class="band-image" *ngIf="artist.Img !== ''" [src]="createImgPath(artist.Img)" alt="Photo of {{artist.Name}}">
      <div class="band-text">{{artist.Name}}</div>
    </div>

  </div>
</div> -->

<mat-card class="cardsmall" (click)="navigateToArtistPage()">

  <img mat-card-image class="band-image" [src]="createImgPath(artist.Img)" alt="Photo of {{artist.Name}}">
  <mat-card-content class="rowFlex">
      <div class="colums">
          <div class="card-headline">{{artist.Name}}</div>
      </div>
      <div class="band-info genre-text">
        <div>{{artist.Genre}}</div>
        <div>...mehr lesen</div>
      </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="card pointer" (click)="navigateToArtistPage()"  *ngIf="globalsService.isTopNav">
  <mat-card-content class="rowFlex" >
    <img mat-card-image class="card-image" *ngIf="artist.Img !== ''" [src]="createImgPath(artist.Img)" alt="Photo of {{artist.Name}}">
      <div class="colums">
          <div class="card-headline">{{artist.Name}}</div>
          <div class="card-subheadline">{{artist.Genre}}</div>
          <div class="card-text">{{getDescriptionText(artist)}}</div>
      </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardsmall" (click)="navigateToArtistPage()" *ngIf="!globalsService.isTopNav">

  <img mat-card-image class="card-image-mobile" *ngIf="isImageVisible(artist)" [src]="createImgPath(artist.Img)" alt="Photo of {{artist.Name}}">
  <mat-card-content class="rowFlex">
      <div class="colums">
          <div class="card-headline">{{artist.Name}}</div>
      </div>
  </mat-card-content>
</mat-card> -->