.container {
    display: flex;
    flex-direction: column;
}

.imageDiv {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 1px solid white;
}

.background-image-drilldown {
    width: 100%;
}

.artistName {
    font-size: 3em !important;
}

.logos {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.columns {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.backButton {
    bottom: 1rem;
    right: 1rem;
    width: 10%;
    position: absolute;
}

.card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.marginBottom {
    height: 152px;
    margin-bottom: 1rem;
}