<div class="artist-site">
    <mat-card class="inner-artist-site">
        <div class="band-header">
            <img class="band-image" *ngIf="artist.ImgHeader !== ''" [src]="createImgPath(artist.ImgHeader)" alt="Photo of {{artist.Name}}" />

            <div>
                <h2>{{artist.Name}} </h2>
                <h3>{{artist.Genre}}</h3>
            </div>
        </div>
        <mat-card-content>
            <div *ngIf="artist.IsLineUpPlanned">
                <h3 *ngIf="artist.Stage !== ''">Bühne: {{artist.Stage}}</h3> <span>&nbsp;&nbsp;</span>
                <h3 *ngIf="artist.DayStartTime">Tag: {{artist.DayStartTime | date}}</h3> <span>&nbsp;&nbsp;</span>
                <h3 *ngIf="artist.DayStartTime">Spielzeit: {{getStartTime()}} - {{getEndTime()}}</h3>
            </div>
            <div [innerHTML]="getArtistDescription()"></div>
            <iframe *ngIf="artist.Spotify !== ''" [src]="embedURI" width="100%" height="350"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <div>
                <img class="socials" src="../../../../assets/f_logo_RGB-Blue_1024.webp" (click)="onFacebook()" *ngIf="isFacebook(artist)">
                <img class="socials" src="../../../../assets/ig-icon.png" (click)="onInstagram()" *ngIf="isInstagram(artist)">
            </div>
        </mat-card-content>
        <mat-card-actions> 
            <button mat-raised-button (click)="onBack()">Zurück</button>
        </mat-card-actions>
    </mat-card>
</div>