<div class="news-site">
    <mat-card class="inner-news-site" *ngIf="!isLoading">
        <div class="news-header">
            <img class="news-image" *ngIf="news !== undefined" [src]="createImgPath()" alt="Photo of {{getNewsTitle()}}" />
            <h2>{{getNewsTitle()}}</h2>
        </div>
        <mat-card-content>
            <div [innerHTML]="getNewsText()"></div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="onBack()">Zurück</button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- Altes Design -->
<!-- <div class="container">
    <mat-card class="card" *ngIf="!isLoading">
        <div class="imageDiv">
            <img class="background-image-drilldown" *ngIf="news !== undefined" [src]="createImgPath()"
                alt="Photo of {{getNewsTitle()}}" />
        </div>
        <mat-card-content class="allignContent">
            <h2 class="artistName">{{getNewsTitle()}}</h2>
            <div class="description" [innerHTML]="getNewsText()"></div>
        </mat-card-content>
        <mat-card-actions class="buttonMargin">
            <button mat-raised-button (click)="onBack()" class="topButton">Zurück</button>
        </mat-card-actions>
    </mat-card>
</div> -->