.imageDiv {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 1px solid white;
}

.background-image-drilldown {
    width: 100%;
}

.artistName {
    font-size: 3em !important;
    line-height: 1em;
}

.logos {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}

.columns {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.backButton {
    bottom: 1rem;
    right: 1rem;
    width: 10%;
    position: absolute;
}

.card {
    width: 100% !important;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.marginBottom {
    margin-bottom: 1rem;
}

.news-site {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-news-site {
    margin: 30px 0;
    width: 80%;
    border: 2px solid #514eb5;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 960px) {
    .news-image {
        margin: 15px 0;
        max-width: 100%;
        height: auto;
    }

    .news-header {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 960px) {
    .news-image {
        width: 600px;
        margin: 0 25px 25px 0;
    }

    .news-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}