<div class="wrapper">
    <div class="topNavMargin background-image containerSub">
      <!--div class="flex-container">
        <img class="logo" src="../assets/logo-transparent.png" alt="beem-banner">
      </div>
      <div class="columncontainer topNavMargin">
        <div-- class="flexboxtop">
            <div class="headerRow">
                <h1 class="header">TIMETABLE</h1>
            </div>
        </div-->
        <div class="container">
            <!-- Hier einfügen: Ablaufplan Fr+Sa: Vertikal nebeneinander, bei kleinen Screens: untereinander -> flexbox mit direction change -->
            <div class="timetableWrapper">
                <img src="../assets/timetable.png">
            </div>
        </div>
    </div>
</div>