<div class="wrapper">
  <div class="topNavMargin background-image containerSub">
    <div class="flex-container">
      <img class="logo" src="../assets/logo-transparent.png" alt="beem-banner">
    </div>
<div class="columncontainer  topNavMargin">
  <div class="flexboxtop">
      <div class="headerRow">
          <h1 class="header">Impressum</h1>
      </div>
  </div>
  <div 
    class="container">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>BEEM Festival und Freizeit e.V.<br />
      Hufeisenstr. 16<br />
      63825 Westerngrund
    </p>

    <p>Vereinsregister: 200830<br />
      Registergericht: Amtsgericht Aschaffenburg
    </p>

    <p>Vertreten durch:<br />
      Alisa Rothenb&uuml;cher, Felix Schmitt, Lea Veit, Patrick Born, Johannes Pfaff, Tobias Heth, Tobias M&auml;rz
    </p>

    <h2>Kontakt</h2>
    <p>Telefon: +49 1512 0735296<br />
      E-Mail: beem.festival@gmail.com
    </p>

    <h2>Für die Pflege der Website verantwortlich</h2>
    <p>Dominik L&uuml;ckel<br />
      Ringstra&szlig;e 4<br />
      63825 Westerngrund</p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  </div> 
</div>