<div class="background">
  <div class="component-header">
    <h1>IMPRESSUM</h1>
  </div>
  <div>
    <div class="impressumContainer">
      <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>BEEM Festival und Freizeit e.V.<br />
        Geisbergstr. 11<br />
        63825 Westerngrund
      </p>

      <p>Vereinsregister: 200830<br />
        Registergericht: Amtsgericht Aschaffenburg
      </p>

      <p>Vertreten durch:<br />
        Patrick Born, Tobias Heth, Felix Schmitt, Daniel Steigerwald
      </p>

      <h2>Kontakt</h2>
      <p>Telefon: +49 1512 0735296<br />
        E-Mail: beem.festival&#64;gmail.com
      </p>

      <h2>Für die Pflege der Website verantwortlich</h2>
      <p>Dominik L&uuml;ckel<br />
        Ringstra&szlig;e 4<br />
        63825 Westerngrund</p>

      <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
      <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </p>

      <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div> 
  </div>
</div>