<div class="toolbar-spacer">
    
    <div class="component-header" *ngIf="!isDrillDownActive">
        <h1>KÜNSTLER</h1>
    </div>

    <div class="band-card-wrapper">
        <div class="band-card" *ngIf="!isDrillDownActive && !isAdmin() && filteredArtist.length > 0">
            <div *ngIf="globalsService.isTopNav" class="artist-card-wrapper">
                <artist-card *ngFor="let artist of filteredArtist" class="artist-card" [artist]="artist"
                    (navigateToArtist)="navigateToArtistPage($event)">
                </artist-card>
                <div>
                    <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
            <div *ngIf="!globalsService.isTopNav">
                <artist-card *ngFor="let artist of filteredArtist" [artist]="artist"
                    (navigateToArtist)="navigateToArtistPage($event)">
                </artist-card>
                <div>
                    <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
        </div>

        <artist-site *ngIf="isDrillDownActive && !isAdmin()" [artist]="selectedArtist" (onBack)="onBack()">
        </artist-site>
        
        <div [ngClass]="{'containerNonFlex':isDrillDownActive}" *ngIf="isAdmin()">
            <div>
                <artist-admin-overview [artists]="artists" (selectedArtist)="navigateToEditArtist($event)"
                    (createArtist)="navigateToEditArtist($event)" (deleteArtist)="deleteArtist($event)"
                    *ngIf="!isDrillDownActive">
                </artist-admin-overview>
                <artist-admin-edit [artist]="selectedArtist" (onCreateUpdate)="updateArtist($event)" (onBack)="onBack()"
                    *ngIf="isDrillDownActive">
                </artist-admin-edit>
                <div>
                    <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
        </div>
    
    </div>
</div>


<!-- ------------------------------ Altes Design ------------------------------ -->
<!-- <div class="wrapper">
    <div class="topNavMargin background-image containerSub">
        <div class="flex-container">
          <img class="logo" src="../assets/logo-transparent.png" alt="beem-banner">
        </div>

        <div class="columncontainer topNavMargin">
            <div class="flexboxtop">
                <div class="headerRow" *ngIf="!isDrillDownActive">
                    <h1 class="header">Künstler</h1>
                </div>
            </div>
            <div class="container artistOverview" *ngIf="!isDrillDownActive && !isAdmin() && filteredArtist.length > 0">
                <div class="flexboxcards" *ngIf="globalsService.isTopNav">
                    <artist-card *ngFor="let artist of filteredArtist" class="itembig" [artist]="artist"
                        (navigateToArtist)="navigateToArtistPage($event)">
                    </artist-card>
                    <div class="buttonMargin">
                        <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                            Admin ansicht wechseln
                        </button>
                    </div>
                </div>
                <div class="cardcontainer" *ngIf="!globalsService.isTopNav">
                    <artist-card class="carditem"  *ngFor="let artist of filteredArtist"[artist]="artist"
                        (navigateToArtist)="navigateToArtistPage($event)">
                    </artist-card>
                    <div class="buttonMargin">
                        <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                            Admin ansicht wechseln
                        </button>
                    </div>
                </div>
            </div>
            <artist-site *ngIf="isDrillDownActive && !isAdmin()" [artist]="selectedArtist" (onBack)="onBack()">
            </artist-site>
            <div class="container" [ngClass]="{'containerNonFlex':isDrillDownActive}" *ngIf="isAdmin()">
                <div class="flexboxcards">
                <artist-admin-overview [artists]="artists" (selectedArtist)="navigateToEditArtist($event)"
                    (createArtist)="navigateToEditArtist($event)" (deleteArtist)="deleteArtist($event)"
                    *ngIf="!isDrillDownActive">
                </artist-admin-overview>
                <artist-admin-edit [artist]="selectedArtist" (onCreateUpdate)="updateArtist($event)" (onBack)="onBack()"
                    *ngIf="isDrillDownActive">
                </artist-admin-edit>
                <div class="buttonMargin">
                    <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
            </div>

        </div>
    </div>
</div> -->