.columncontainer{
    display: felx;
    flex-direction: column;
}

.topNavMargin{
    margin-top: 5.5vh;
}

.headerRow{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;      
    margin: 1rem; 
}

.container{
    display:flex;
    align-items: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.containerNonFlex{
    display: block !important;
}

.item{
    flex: 1;
}
.buttonMargin{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}