.header-toolbar {
  display: flex;
  justify-content: center;
}

.banner {
  // max-height: 500px;
  width: 100%;
  margin-bottom: -5px;
}



// ---------------------------------------------------
.wrapper{
  height: 94.5vh;
  //margin-top: 5.5vh;
  width: 100%;  
  background-color: #83c47f !important;
}
// .background-image {
//   background-image: url('../assets/tree-3979965.svg');
//   // height: inherit;
//   // width: inherit;
//   background-repeat: repeat-y;
//   // background-attachment: inherit;
//   // margin-top: 5.5vh;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

// .background-element {
//   background-image: url('../assets/tree-3979965.svg');

//   background-repeat: repeat-y;
//   background-size: cover;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   transform: translateZ(-1px) scale(2);
// }

.content {
  // flex: 1 0 auto;
  min-height: calc(100vh - 75px);
}

.general {
  height: 100vh;
}

.right-drawer {
  left: 130px;
  background-color: rgba(113, 48, 117, 0.75)!important;
}

.example-spacer {
    flex: 1 1 auto;
  }

.logo{
  max-width: 200px;
  max-height: 200px;
}

.menu-buttons{
  display: flex;
  justify-content: center;
}
.containerSub{
  height:100%;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 65px;
}

.button{
  width: 100%;
  height: 50%;
  margin: 1;
}

.aftermovie{
  margin: 1rem;
  display: flex;
  justify-content: center;
}


.navBar {
  height: 5vh !important;
}

.mat-toolbar{
  background-color: #258c68 !important;
  z-index: 999;
  position: sticky;
  top: 0;
}

.logo{
  max-width: 5vh;
  max-height: 5vh;
  min-width: 200px;
  min-height: 200px;
  margin: 15px;
}

.logoutButton{
  margin: 1rem;
  height:auto;
  width: auto;
  align-self: flex-end;
  justify-content: center;
}

.mat-drawer-content{
  overflow: hidden !important;
}

.sidenav {
  height: 64px !important;
}

.activebutton{
  background-color: #ff66c4 !important;
}

.ig-logo {
  margin: 3px;
  height: 18px;
  position: relative;
  // bottom: 3px;
}

.footer-link {
  cursor: pointer;
}

.drawer {
  max-width: 45%;
}

.mobile-toolbar {
  width: 100%;
  height: 50px;
  background-color: #258c68;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-toolbar button {
  margin-left: 10px; /* Adjust as needed */
}

.mobile-toolbar div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff66c4;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HappyMonkey', fallback, sans-serif !important;
  font-size: 1.5rem;
}