<div>
    <mat-drawer-container autosize class="general">

        <mat-drawer #drawer mode="side" opened>

            <img class="logo" src="../assets/logo-transparent.png" alt="beem-banner">

            <div class="menu-buttons">
                <button mat-button routerLink="">Home</button>
            </div>

            <div class="menu-buttons">
                <button mat-button routerLink="/programm">Programm</button>
            </div>

            <div class="menu-buttons">
                <button mat-button routerLink="/news">News</button>
            </div>

        </mat-drawer>
        <mat-drawer-content class="right-drawer">

            <div class="menu-button">
                <button type="button" mat-raised-button (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div *ngIf="router.url == '/'" class="background-image"></div>       
            <router-outlet></router-outlet>
            <!-- <img class="logo" src="../assets/beem-banner2.jpeg" alt="beem-banner" width="1000px" height="700px"> -->

        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    