<div class="general">
    <mat-drawer-container class="example-container">

        <mat-drawer class="general" mode="side" opened>

            <img class="logo" src="../assets/logo-transparent.png" alt="beem-banner">

            <div class="menu-buttons">
                <button mat-button>Home</button>
            </div>

            <div class="menu-buttons">
                <button mat-button>Programm</button>
            </div>

            <div class="menu-buttons">
                <button mat-button>News</button>
            </div>

        </mat-drawer>
        <mat-drawer-content class="right-drawer">

            <img src="../assets/beem-banner2.jpeg" alt="beem-banner" width="850px" height="500px">

        </mat-drawer-content>
      </mat-drawer-container>
    </div>