.general {
  height: 100vh;
}

.right-drawer {
  // left: 130px;
  // background-color: rgb(40, 40, 40);
}

.example-spacer {
    flex: 1 1 auto;
  }

.logo{
  max-width: 200px;
  max-height: 200px;
  margin: 15px;
}

.menu-buttons{
  display: flex;
  justify-content: center;
}

.background-image {
  height: 100vh;
  background-image: url('../assets/beem-banner2.jpeg');
  background-size: cover;
  background-position: center center;
}

.menu-button {
  margin: 10px;
}