<div class="background">
    
  <div class="component-header" *ngIf="!isDrillDownActive">
      <h1>FAQs</h1>
  </div>

  <div class="container" *ngIf="!isAdmin()">
    <div class="flexboxcards">
      <mat-accordion class="questionsAccordion">
        <mat-expansion-panel *ngFor="let question of questions" class="questionPanel">
          <mat-expansion-panel-header [collapsedHeight]="'6rem'" [expandedHeight]="'6rem'">
            <mat-panel-title class="questionTitle">
              {{question.Title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="answerDiv" [innerHTML]="question.Answer"></div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="buttonMargin">
        <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
            Admin ansicht wechseln
        </button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="isAdmin()">
      <div class="flexboxcards">
        <faq-admin-overview [questions]="questions" (selectedQuestion)="navigateToEditQuestion($event)"
          (createQuestion)="navigateToEditQuestion($event)" (deleteQuestion)="deleteQuestion($event)"
          *ngIf="!isDrillDownActive">
        </faq-admin-overview>
        <faq-admin-edit class="adminEditPanel" [question]="selectedQuestion" (onCreateUpdate)="updateQuestion($event)"
          (onBack)="onBack()" *ngIf="isDrillDownActive">
        </faq-admin-edit>
      </div>
      <div class="buttonMargin">
        <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
          Admin ansicht wechseln
        </button>
      </div>
    </div>

</div>