:host ::ng-deep {
  .admin-filter {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    .mat-mdc-form-field-focus-overlay {
      display: none;
    }

    .mdc-text-field--outlined {
      --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.87);
    }

    .mat-mdc-form-field-flex {
      background-color: white;
    }

    .mdc-notched-outline {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: rgba(0, 0, 0, 0.87) !important;
        border-width: 2px !important;
      }
    }

    .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .mdc-floating-label {
      color: rgba(0, 0, 0, 0.87) !important;
    }

    .mat-mdc-input-element {
      color: black !important;
    }

    .mat-mdc-form-field-icon-suffix {
      color: rgba(0, 0, 0, 0.87) !important;
    }

    &.mat-focused {
      .mdc-notched-outline {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
          border-color: #258c68 !important;
        }
      }

      .mdc-floating-label {
        color: #258c68 !important;
      }

      .mat-mdc-form-field-icon-suffix {
        color: #258c68 !important;
      }
    }
  }
} 