<div class="columncontainer">
  <div class="headerRow"  *ngIf="!isDrillDownActive">
      <h1>Alle Künstler</h1>
  </div>
  <div 
      class="container" 
      *ngIf="!isDrillDownActive && !isAdmin()">
      <artist-card 
          *ngFor="let artist of filteredArtist"
          class="item"
          [artist]="artist"
          (navigateToArtist)="navigateToArtistPage($event)">
      </artist-card>
  </div>
  <artist-site
      *ngIf="isDrillDownActive && !isAdmin()"
      [artist]="selectedArtist"
      (onBack)="onBack()">
    </artist-site>
    <div 
    class="container" 
    *ngIf="!isDrillDownActive && isAdmin()">
    <artist-admin-overview
        [artists]="artists"
        (selectedArtist)="navigateToEditArtist($event)"
        (createArtist)="navigateToEditArtist($event)"
        (deleteArtist)="deleteArtist($event)"
        >
    </artist-admin-overview>
    <artist-admin-edit
        [artist]="selectedArtist"
        *ngIf="isDrillDownActive && isAdmin()">
  </artist-admin-edit>
</div>

</div>