<div class="columncontainer">
  <div class="headerRow"  *ngIf="!isDrillDownActive">
      <h1>Alle Künstler</h1>
  </div>
  <div 
      class="container" 
      *ngIf="!isDrillDownActive">
      <artist-card 
          *ngFor="let artist of filteredArtist"
          class="item"
          [artist]="artist"
          (navigateToArtist)="navigateToArtistPage($event)">
      </artist-card>
  </div>
  <artist-site
      *ngIf="isDrillDownActive"
      [artist]="selectedArtist"
      (onBack)="onBack()">
</artist-site>
</div>