<!-- <div class="toolbar-spacer">
    
    <div class="component-header">
        <h1>NEWS</h1>
    </div>

    <div *ngFor="let News of filteredNews" class="center-container">
        <div class="news-card">
            <news-card [news]="News" (navigateToNews)="navigateToNewsPage($event)"></news-card>
        </div>
    </div>

</div> -->

<div class="background">
    <div class="component-header" *ngIf="!isDrillDownActive">
        <h1>NEWS</h1>
    </div>

    <div *ngIf="!isDrillDownActive && !isAdmin()">
        <div *ngIf="globalsService.isTopNav">
            <div class="news-card-wrapper">
                <news-card *ngFor="let News of filteredNews" class="news-card" [news]="News"
                    (navigateToNews)="navigateToNewsPage($event)">
                </news-card>
                <div>
                    <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
        </div>

        <div class="news-card-wrapper" *ngIf="!globalsService.isTopNav">
            <news-card *ngFor="let News of filteredNews" [news]="News"
                (navigateToNews)="navigateToNewsPage($event)">
            </news-card>
            <div>
                <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                    Admin ansicht wechseln
                </button>
            </div>
        </div>
    </div>

    <news-site *ngIf="isDrillDownActive && !isAdmin()" [news]="selectedNews" (onBack)="onBack()">
    </news-site>

    <div [ngClass]="{'containerNonFlex':isDrillDownActive}" *ngIf="isAdmin()">
        <div>
            <news-admin-overview [news]="news" (selectedNews)="navigateToEditNews($event)"
                (createNews)="navigateToEditNews($event)" (deleteNews)="deleteNews($event)" *ngIf="!isDrillDownActive">
            </news-admin-overview>
            <news-admin-edit [news]="selectedNews" (onCreateUpdate)="updateNews($event)" (onBack)="onBack()"
                *ngIf="isDrillDownActive">
            </news-admin-edit>
            <div>
                <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                    Admin ansicht wechseln
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="toolbar-spacer">
    
    <div class="component-header">
        <h1>NEWS</h1>
    </div>

    <div class="center-container">
        <div class="news-card">
            <div>
                <news-card *ngFor="let News of filteredNews" [news]="News" (navigateToNews)="navigateToNewsPage($event)"></news-card>
                <div>
                    <button mat-raised-button (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                        Admin ansicht wechseln
                    </button>
                </div>
            </div>
            <news-site *ngIf="isDrillDownActive && !isAdmin()" [news]="selectedNews" (onBack)="onBack()">
            </news-site>

            <div class="container" [ngClass]="{'containerNonFlex':isDrillDownActive}" *ngIf="isAdmin()">
                <div class="flexboxcards">
                    <news-admin-overview [news]="news" (selectedNews)="navigateToEditNews($event)"
                        (createNews)="navigateToEditNews($event)" (deleteNews)="deleteNews($event)" *ngIf="!isDrillDownActive">
                    </news-admin-overview>
                    <news-admin-edit [news]="selectedNews" (onCreateUpdate)="updateNews($event)" (onBack)="onBack()"
                        *ngIf="isDrillDownActive">
                    </news-admin-edit>
                    <div class="buttonMargin">
                        <button mat-raised-button class="button" (click)="onSwap()" *ngIf="isAdminOnly() && !isDrillDownActive">
                            Admin ansicht wechseln
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->