.columncontainer {
    display: flex;
    flex-direction: column;
}


.containerNonFlex {
    display: block !important;
}


.newsOverview {
    justify-content: center;
}

.news-card {
    display: flex;
    margin: 30px 0;
    width: 80%;
    border: 2px solid #ff66c4;
}

.news-card-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}