table {
    width: 98vw;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .selectedRow {
    font-weight: bold;
  }  

  .rightButtons{
    display: flex;
    margin: 1rem 0rem 1rem 1rem;
    justify-content: flex-end;
  }
  
  .button{
    margin-left: 1rem;
    align-self: flex-end;
  }