.topButton{
    height:5vh;
    width: auto;
    display: flex;
    justify-content: center;
    line-height: 5vh;
}

.navBar {
    height: 5vh !important;
}

.mat-toolbar{
    background-color: #424242 !important;
    z-index: 999;
    position: fixed;
}

.logo{
    max-width: 200px;
    max-height: 5vh;
    margin: 15px;
}

.logoutButton{
    margin: 1rem;
    height:auto;
    width: auto;
    align-self: flex-end;
    justify-content: center;
}