/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@include mat.core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beem-primary: mat.define-palette(mat.$purple-palette);
$beem-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$beem-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$beem-theme: mat.define-dark-theme((
  color: (
    primary: $beem-primary,
    accent: $beem-accent,
    warn: $beem-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($beem-theme);

/* You can add global styles to this file, and also import other style files */

html { height: 100vh !important; }
body { 
  margin: 0;
  font-family: 'Century Gothic' !important;
  font-style: normal !important;
  color: black;
  font-family: 'Monserrat', fallback, sans-serif !important;
  background-color: #e7e0c6 !important;
  min-height: 100vh !important;
}

app-root {
  height: 100vh !important;
  display: block;
}

@font-face {
  font-family: 'Birma';
  src: url('./assets/fonts/brima/Brima.otf') format('opentype');
}

@font-face {
  font-family: 'Monserrat';
  src: url('./assets/fonts/monserrat/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Journey';
  src: url('./assets/fonts/journeyhandwritingfont/JourneyHandwritingFon-Rg.otf') format('opentype');
}

@font-face {
  font-family: 'HappyMonkey';
  src: url('./assets/fonts/HappyMonkey-Regular.ttf') format('opentype');
}

// ##################################################################################################################

.router-outlet {
  padding-top: 64px;
}

.footer {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #258c68;
}

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

// @media screen and (min-width: 601px) {
  button, .mat-menu-item {
    background-color: #258c68 !important;
    border: 0 !important;
    height: 100%;
    padding: 0 30px 0 30px;
    font-family: 'HappyMonkey', fallback, sans-serif !important;
    font-size: 25pt !important;
    color: black !important;
  }
// }

// @media screen and (max-width: 600px) {
//   button, .mat-menu-item {
//     background-color: #258c68 !important;
//     border: 0 !important;
//     /* padding: 0 30px 0 30px; */
//     font-family: "HappyMonkey", fallback, sans-serif !important;
//     font-size: 25pt !important;
//     color: black !important;
//     width: 100%;
//   }
// }

.drawer-button {
  background-color: #258c68 !important;
  border: 0 !important;
  padding: 0;
  font-family: "HappyMonkey", fallback, sans-serif !important;
  font-size: 25pt !important;
  color: black !important;
  height: 40px;
  width: 100%;
}


button:hover {
  background-color: #ff66c4 !important;
  cursor: pointer;
}

.active {
  background-color: #ff66c4 !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.component-header {
  display: flex;
  justify-content: center;
}

h1{
  font-weight: 400 !important;
  font-size: 5em !important;
  line-height: 120px !important;
  font-family: 'HappyMonkey', fallback, sans-serif !important;
  font-style: normal !important;
}

h2{
  font-weight: 200 !important;
  font-size: 3em !important;
  line-height: 50px !important;
  font-family: "HappyMonkey", fallback, sans-serif !important;
  font-style: normal !important;
}

h3{
  font-weight: 100 !important;
  font-size: 1.5em !important;
  line-height: 25px !important;
  font-family: "HappyMonkey", fallback, sans-serif !important;
  font-style: normal !important;

}

// ##################################################################################################################

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(113, 48, 117, 0.75); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 48, 117, 0.75); 
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 1rem;
  background-color: black;
  width: 25rem;

}
.flexboxtop{
  display: flex;
  width:100%;
  align-content: center;
  justify-content: center;
}

// h1{
//   color: #83C47F;
//   font-weight: 400 !important;
//   font-size: 5em !important;
//   line-height: 120px !important;
//   font-family: 'Century Gothic' !important;
//   font-style: normal !important;
// }
.topButton{
  width: auto !important;
  display: flex !important;
  justify-content: center !important;
  //line-height: 3vh;
  margin: 1vh !important;
  font-family: 'Century Gothic' !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  background-color: #000000 !important;
}

// @media screen and (max-width: 839px) {
//   .container {
//     display: flex;
//     align-items: row;
//     flex-wrap: wrap;
//     margin: 1rem;
//     min-width: 250px;
//     // margin: 0 .5vw 0 .5vw;
//     margin: 0 1vw 0 1vw;
//     border-radius: 15px;
//     background-color: rgba(113,48,117,0.7);
//     padding: 1rem;
//     justify-content: center;
//     flex-direction: column;
//   }
// }

// @media screen and (min-width: 840px) {
//   .container {
//     display: flex;
//     align-items: row;
//     flex-wrap: wrap;
//     margin: 1rem;
//     min-width: 250px;
//     margin-right: 5vh;
//     margin-left: 5vh;
//     border-radius: 15px;
//     background-color: rgba(113,48,117,0.7);
//     padding: 1rem;
//     justify-content: center;
//     flex-direction: column;
//   }
// }

.flexboxcards
{
  display:flex;
  flex-direction: column;
  width:100%;
}

.allignCenter{
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 0px !important;
  margin: auto
}

.topNavMargin {
  margin-top: 64px;
}

.card {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  background-color: white;
  color: black !important;
}

.pointer {
  cursor: pointer;
}

.cardsmall {
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  color: black !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}


.rowFlex {
  display: flex !important;
  flex-direction: row;
  align-content: center;
}

.colums {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 839px) {
  .card-headline {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 840px) {
  .card-headline {
    font-size: 2rem;
    padding-bottom: 1rem;
    line-height: 1em;
    text-align: start;
  }
}

.card-subheadline {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;

}

.card-text {
  font-size: 1rem;
}

.card-image {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.card-image-mobile {
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 150px;
}

.wrapper{
  height: 94.5vh;
  //margin-top: 5.5vh;
  width: 100%;  
  background-color: #e7e0c6 !important;
  // background-color: #83c47f !important;
}
// .background-image {
//   background-image: url('/assets/tree-3979965.svg');
//   // height: inherit;
//   // width: inherit;
//   background-repeat: repeat-y;
//   // background-attachment: inherit;
//   // margin-top: 5.5vh;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

// .background-element {
//   background-image: url('/assets/tree-3979965.svg');

//   background-repeat: repeat-y;
//   background-size: cover;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   transform: translateZ(-1px) scale(2);
// }

.containerSub{
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 65px;
}

.logo{
  max-width: 5vh;
  max-height: 5vh;
  min-width: 200px;
  min-height: 200px;
  margin: 15px;
}

  .mat-toolbar-single-row
  {
    height: 64px !important;;
  }

.itembig{
  width: 100% !important;
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
}

.itemsmall{
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
}


mat-expansion-panel{
  background-color: white !important;
  color:black !important;
  font-family: 'Century Gothic' !important;
  font-style: normal !important;
  font-size: 2em;
}

mat-panel-title{
  color:black !important;
  font-family: 'Century Gothic' !important;
  font-style: normal !important;
  font-size: 1em;
}

.mat-expansion-indicator::after {
  color: black;
}

.mat-drawer-inner-container{
  background-color: #258c68;
}

.buttonMargin {
  right: 2rem !important;
  bottom: 1rem;
  display: flex !important;
  justify-content: end !important;
}
table.mat-table {
  width: 100% !important;
}

.cc-color-override-688238583 .cc-btn{
  background-color: rgba(113, 48, 117, 0.75) !important;
  color: white !important;
}

.cardcontainer {
  width: 90vw;
  // border: solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
  grid-gap: 20px;
}

.carditem {
  width: 272px;
  height: auto;
  // border: solid;
}