<div class="container" *ngIf="!isPreview">
  <mat-form-field appearance="fill">
    <mat-label>Frage?</mat-label>
    <input matInput  [formControl]="title">
  </mat-form-field>
  <mat-label>Antwort</mat-label>
  <richtexteditor [control]="answer" class="formMargin"></richtexteditor>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header> 
      <mat-panel-title>
        {{title.value}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{answer.value}}</p>
  </mat-expansion-panel>

<div class="buttonMargin">
  <button mat-raised-button 
    class="button"
    (click)="onSave()"
  >
    Speichern
  </button>
  <button mat-raised-button 
    class="button"
    (click)="onBack()"
    >
  Abbrechen
  </button>
</div>
</div>


