.container{
    display: flex;
    flex-direction: column;
}

.alignEnd{
    align-self: flex-end;
}

.buttonMargin{
    align-self: flex-end;
    margin-top: 1rem;
}

.button{
    margin-left: 1rem;
  }