<div class="container" *ngIf="!isPreview">
  <mat-form-field appearance="fill">
    <mat-label>Bandname</mat-label>
    <input matInput  [formControl]="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput  [formControl]="genre">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Startzeit</mat-label>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Startzeit auswählen" 
          [formControl]="startTime">
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
    [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
    [touchUi]="true" [enableMeridian]="false"
    [disableMinute]="false" [hideTime]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Spielzeit in Minuten</mat-label>
    <input matInput type="number"  [formControl]="playTime">
  </mat-form-field>
  <mat-label>Beschreibung</mat-label>
  <richtexteditor [control]="description" class="formMargin"></richtexteditor>
  
  <mat-label>Vorschaubild</mat-label><span *ngIf="artist">{{artist.img}}</span>
  <image-upload (onUploadFinished)="uploadImageFinished($event)"></image-upload>
  <mat-label>Banner Bild</mat-label> <span *ngIf="artist">{{artist.imgHeader}}</span>
  <image-upload (onUploadFinished)="uploadHeaderImageFinished($event)"></image-upload>
  <!--
  <mat-form-field appearance="fill">
    <input matInput [formControl]="img" >
  </mat-form-field> 
  <mat-form-field appearance="fill">

    <input matInput [formControl]="imgHeader" >
  </mat-form-field>-->
   <mat-form-field appearance="fill">
    <mat-label>Spotify Link</mat-label>
    <input matInput [formControl]="spotify" >
  </mat-form-field>
  <mat-form-field appearance="fill">
   <mat-label>Webseite/Facebook</mat-label>
   <input matInput [formControl]="website" >
 </mat-form-field>
 <mat-form-field appearance="fill">
  <mat-label>Instagram</mat-label>
  <input matInput [formControl]="instagram" >
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Bühne</mat-label>
  <mat-select [formControl]="stage">
    <mat-option *ngFor="let st of stages" [value]="st">
      {{st}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox [formControl]="isBooked" class="alignEnd">Ist Gebucht?</mat-checkbox>
<mat-checkbox [formControl]="isActive" class="alignEnd">Soll angezeigt werden?</mat-checkbox>
<mat-checkbox [formControl]="isLineUpPlaned" class="alignEnd">Soll die Spielzeit und Bühne angezeigt werden?</mat-checkbox>
<div class="buttonMargin">
  <button mat-raised-button 
  class="button"
  (click)="onPreview()"
>
  Preview
</button>
  <button mat-raised-button 
    class="button"
    (click)="onSave()"
  >
    Speichern
  </button>
  <button mat-raised-button 
    class="button"
    (click)="onBack()"
    >
  Abbrechen
  </button>
</div>
</div>
  <artist-site
  *ngIf="isPreview"
  [artist]="editedArtist"
  (onBack)="onEndPrieview()">
</artist-site>

