<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Bandname</mat-label>
    <input matInput  [formControl]="name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Genre</mat-label>
    <input matInput  [formControl]="genre">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Startzeit</mat-label>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Startzeit auswählen" 
          [formControl]="startTime">
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
    [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
    [touchUi]="true" [enableMeridian]="false"
    [disableMinute]="false" [hideTime]="false">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Spielzeit in Minuten</mat-label>
    <input matInput type="number"  [formControl]="playTime">
  </mat-form-field>
  <mat-label>Beschreibung</mat-label>
  <richtexteditor [control]="description"></richtexteditor>
  <mat-form-field appearance="standard">
    <mat-label>Bild-Link</mat-label>
    <input matInput [formControl]="img" >
  </mat-form-field>
  <mat-checkbox [formControl]="isBooked" class="alignEnd">Ist Gebucht?</mat-checkbox>
  <mat-checkbox [formControl]="isActive" class="alignEnd">Soll angezeigt werden?</mat-checkbox>
  <div class="buttonMargin">
    <button mat-raised-button 
      class="button"
      (click)="onSave()"
    >
      Speichern
    </button>
    <button mat-raised-button 
      class="button"
      (click)="onBack()"
      >
    Abbrechen
    </button>
  </div>
</div>