<div class="background">
    <div class="component-header">
        <h2>Tickets 2024</h2>
    </div>

    <div class="impressumContainer">
        <h3>Ticket Vorverkauf</h3>
        <p>
            Tickets für das BEEM Festival 2024 kannst du bei der Bäckerei Biebrich in Westerngrund abholen oder einfach per Mail bestellen. Die Zustellung erfolgt ab Anfang Juli entweder
            für 2,50€ Versandgebühr per Post oder du kannst sie bei einem Vereinsmitglied abholen. 
        </p>
        <br>
    
        <h3>Kosten (VVK)</h3>
        <p>
            Tagesticket Freitag - 11€ <br>
            Tagesticket Samstag - 15€ <br>
            Kombiticket Freitag + Samstag - 25€ <br>
            
            Kinder bis einschließlich 12 Jahre kommen in Begleitung eines Erziehungsberechtigten kostenfrei auf das Konzertgelände. 
        </p>
        <br>
    
        <h3>Bezahlung</h3>
        <p>
            Für alle Bestellungen den entsprechenden Betrag an folgendes Konto überweisen - mit dem Betreff “Tickets, Vor- und Nachname”. <br>
            Beem Festival und Freizeit e.V. <br>
            VR-Bank Altenburger Land eG <br>
            DE95 8306 5408 0005 2733 90 <br>
        </p>
        <br>

        <h3>Bestellung</h3>
        <p>
            Bestellung per Mail an tickets&#64;beem-festival.de mit folgender Vorlage (kopieren, einfügen und alle Daten ausfüllen):
        </p>
    
        <p>
            Liebes BEEM Festival-Team,
        </p>
    
        <p>
            Meine Daten
            <br>
            Name:
            <br>
            Straße und Hausnummer:
            <br>
            Postleitzahl:
            <br>
            Ort:
            <br>
            Handynummer: 
        </p>
    
        <p>
            Hiermit bestelle ich verbindlich:
            <br>
            Anzahl Wochenendtickets (je 25€):
            <br>
            Anzahl Freitagtickets (je 11€):
            <br>
            Anzahl Samstagtickets (je 15€):
        </p>
    
        <p>
            Zustellung - Unzutreffendes bitte streichen:
            <br>
            - Ich möchte die Tickets zugesendet bekommen (+2,50€ Versandgebühr).
            <br>
            - Ich hole die Tickets ab (möglich in Westerngrund oder Aschaffenburg), bitte meldet euch bei mir.
        </p>
    
        <p>
            Die Tickets werden ab Juli ausgegeben.
        </p>
    
        <p>
            Den Betrag überweise ich auf das angegebene Konto mit dem Betreff "Tickets, Vor- und Nachname". 
        </p>
    
        <p>
            Viele Grüße!
        </p>
    
    </div>
    
</div>
