<div class="wrapper">
    <div class="topNavMargin background-image containerSub">
        <div class="container">
            <h1 class="subheadline">Tickets 2023</h1>
            <span class="infotext">Tickets fürs Beem on the Rocks 2023 kannst du einfach per Mail bestellen. Die Zustellung erfolgt entweder
            - für 2,50€ Versandgebühr per Post (möglich bis Dienstag, 27.6.2023) 
            - oder du kannst sie bei einem Vereinsmitglied abholen. 
            </span>
            <h1 class="subheadline">Kosten (VVK)</h1>
            <span class="infotext">Tagesticket Freitag - 16€
                Tagesticket Samstag - 18€
                Kombiticket Freitag + Samstag - 28€

                Kinder bis einschließlich 12 Jahre kommen in Begleitung eines Erziehungsberechtigten kostenfrei auf das Konzertgelände.
            </span>
            <h1 class="subheadline">Bezahlung</h1>
            <span class="infotext">Für alle Bestellungen den entsprechenden Betrag an folgendes Konto überweisen (oder per Paypal über den QR-Code senden) - mit dem Betreff “Tickets, Vor- und Nachname”. Sobald das Geld bei uns eingegangen ist, wird deine Bestellung bearbeitet.<br>
                <br>
                <pre>
Beem Festival und Freizeit e.V.
VR-Bank Altenburger Land eG
DE95 83065408 0005 2733 90
            </pre>
            </span>
            <!-- Paypal-QR-Code -->
            <h1 class="subheadline">Bestellung</h1>
            <span class="infotext">Bestellung per Mail an <!--Mailto?--> ticket.beem.festival[at]gmail.com mit folgender Vorlage (einfach kopieren, einfügen und alle Daten ausfüllen):</span>
            <!-- Einrücken: -->
            <div class="citationblock">
                <span class="tickettext">Liebes Beem on the Rocks-Team,<br><br>
                <b>Meine Daten:</b><br>
                Name:<br>
                Straße und Hausnummer:<br>
                Postleitzahl:<br>
                Ort:<br>
                Handynummer:<br>
                <b>Hiermit bestelle ich verbindlich:</b><br>
                Anzahl Wochenendtickets (je 28€):<br>
                Anzahl Tageskarten Freitags (je 16€):<br>
                Anzahl Tageskarten Samstags (je 18€):<br>
                <br>
                <br>
                <b>Abholung - Unzutreffendes bitte streichen:</b><br>
                - Ich möchte die Tickets zugesendet bekommen (+2,50€ Versandgebühren). <br>
                - Ich hole die Tickets ab (Möglich in Westerngrund oder Aschaffenburg), bitte meldet euch bei mir!<br>
                <br>
                Den Betrag überweise ich auf das angegebene Konto/per Paypal mit dem Betreff "Tickets, Vor- und Nachname". Sobald der Betrag eingegangen ist, erfolgt die Zustellung der Tickets.<br>
                <br>
                </span>
            </div><br>
            Liebe Grüße ♥️
        </div>
    </div>
</div>