:host .subheadline{
    color: white;
    font-size: 2rem !important;
    line-height: 3rem !important;
}

.citationblock{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 4rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

.tickettext{
    font-size: 1rem;
}

.infotext{
    font-size: 1rem;
    line-height: 1.25rem;
}