<div class="background">
    <div class="component-header">
        <h2>Sponsoring</h2>
    </div>

    <div>
        <img style="max-width: 100%;" src="assets/sponsoren-banner.png" alt="Timetable FR" class="responsive-img">
    </div>

    <div class="impressumContainer">
        Unser Festival lebt von fleißigen Händen, jungen Menschen, guter Musik, den vielen Leuten, die kommen und womöglich auch von euch?! <br>
        Wir freuen uns über alle Sponsoren, die uns und unseren Festivaltraum unterstützen und somit wahr werden lassen. <br>
        Von kleinen bis großen Beträgen ist alles möglich und wir freuen uns über jeden Euro. <br>
        Dafür bieten wir natürlich auch etwas: Unsere vorgefertigten Sponsoringpakete könnt ihr in der pdf-Datei unten sehen. <br>
        Wenn ihr Interesse habt, uns zu unterstützen, dann meldet euch gerne unkompliziert unter <b>partner&#64;beem-festival.de</b><br>
        Wir sind selbstverständlich auch immer offen für andere Vorschläge und Ideen. <br>
    
        Danke für eure Unterstützung!
    </div>

    <div class="pdf">
        <object data="assets/sponsoring.pdf" type="application/pdf" width="70%" height="750px">
            <embed src="assets/sponsoring.pdf"><p>This browser does not support PDFs. Please download the PDF to view it: <a href="assets/sponsoring-packages.pdf">Download PDF</a>.</p>
        </object>
    </div>
</div>